.divmayor{
    display: grid;
    place-items: center;
    grid-template-columns: column;
    color: #fff;
  
    font-size: 1.24rem;
    font-weight: bold;
    text-align: center;
}
body{
    background-color: #333333;


}
.titulo {
    /* margin: 2em; */
    padding: 1.5em;
    font-size: 2em;
}

.contenedorcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    justify-items: center;
}


.card{
    
    background-color:rgb(32, 32, 77);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    max-width: 90%;
    /* flex: 1 1 250px; */
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1em ;
    text-align: center;
    text-decoration: solid;
    /* display: inline-block; */
    font-size: 1rem;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 5px;
}
/* 
@media (min-width: 1024px) {
    .contenedorcards {
      grid-template-columns: repeat(4, 1fr); 
    }
  } */
  